In [1]:
import requests
import pandas as pd

In [11]:
def get_ppi_score(genes):
    request_url = "https://string-db.org/api/tsv-no-header/ppi_enrichment?"
    params = {
        "identifiers" : "%0d".join(genes), # your proteins
        "species" : 9606, # species NCBI identifier 
        "caller_identity" : "www.awesome_app.org" # your app name
    }
    response = requests.post(request_url, data=params)
    print(response.text)
    header_names = ["number_of_nodes", "number_of_edges", "average_node_degree", "local_clustering_coefficient", "expected_number_of_edges", "p_value"]
    df = pd.DataFrame([line.split("\t") for line in response.text.strip().split("\n")], columns=header_names)
    df["combo"] = "|".join(genes)
    return df

In [22]:
combo_file = "/data6/deepro/ukb_bmi/2_rarecomb/data/british/combo3.csv"
combo_df = pd.read_csv(combo_file)

In [23]:
all_combo_genes = set("|".join(combo_df.uniq_items.str.replace("Input_", "").values).split("|"))

In [24]:
len(all_combo_genes)

372

In [25]:
get_ppi_score(all_combo_genes)

372	1322	7.11	0.456	432	0.0

,number_of_nodes,number_of_edges,average_node_degree,local_clustering_coefficient,expected_number_of_edges,p_value,combo
0,372,1322,7.11,0.456,432,0.0,AP3M2|NOTCH4|TRPM1|ZRANB3|TRNT1|LDLR|CEP290|SP...

In [43]:
ppi_df = pd.concat(list(map(get_ppi_score, combo_df.uniq_items.str.replace("Input_", "").str.split("|"))))

In [46]:
ppi_df["p_value"] = ppi_df.p_value.astype(float)

In [47]:
ppi_df.loc[ppi_df.p_value<0.05]

,number_of_nodes,number_of_edges,average_node_degree,local_clustering_coefficient,expected_number_of_edges,p_value,combo
0,3,1,0.67,0.667,0,0.0498,DNAH5|DNAJC6|TTN
0,3,1,0.67,0.667,0,0.0105,MYH8|SCN11A|SPTB
0,3,1,0.67,0.667,0,0.0345,MYH13|SCN9A|TTN
0,3,1,0.67,0.667,0,0.0252,KIF26A|OBSCN|RYR1
0,3,2,1.33,0.667,0,0.0083,KCNQ1|RYR1|TTN
...,...,...,...,...,...,...,...
0,3,1,0.67,0.667,0,0.0342,HOXB1|UGT1A1|UGT1A10
0,3,1,0.67,0.667,0,0.0350,HOXB1|UGT1A10|UGT1A6
0,3,1,0.67,0.667,0,0.0335,HOXB1|UGT1A10|UGT1A8
0,3,1,0.67,0.667,0,0.0256,HOXB1|UGT1A10|UGT1A3
0,3,1,0.67,0.667,0,0.0330,HOXB1|UGT1A10|UGT1A7