In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/data6/deepro/ukb_bmi/0_data_preparation_and_download/exome_annot/data/annot_tables_vep109/chr1/block_0.tsv.gz", sep="\t")

In [8]:
df

,Unnamed: 0,locus,alleles,gene,lof,missense,splice_lof,splice,del_score,samples
0,0,chr1:69095,T_G,OR4F5,False,True,False,False,2.0,"4394389,2966356"
1,1,chr1:69134,A_G,OR4F5,False,True,False,False,1.0,"1856492,6007862,6019452,3370431,3318170,592680..."
2,2,chr1:69149,T_A,OR4F5,False,True,False,False,2.0,"1650752,5898656,5908464,3417780,4327320,395227..."
3,3,chr1:69173,A_T,OR4F5,False,True,False,False,2.0,"4183531,3120680"
4,4,chr1:69202,A_G,OR4F5,False,True,False,False,0.0,"5695119,5567129"
...,...,...,...,...,...,...,...,...,...,...
5503,5503,chr1:1217788,G_A,SDF4,False,True,False,False,1.0,"5892998,3243507,2724691"
5504,5504,chr1:1217792,G_A,SDF4,False,True,False,False,0.0,"5570175,1717028"
5505,5505,chr1:1217798,G_C,SDF4,False,True,False,False,0.0,"3310731,3340381,2093448,4105195"
5506,5506,chr1:1217801,C_T,SDF4,False,True,False,False,1.0,"5865426,4181931,4133186,2404250,4068671,492420..."
5507,5507,chr1:1217802,G_A,SDF4,False,False,False,True,0.0,"2989346,1653365,2482430,4737270"

In [9]:
df.loc[df.splice_lof==True, "del_score"]#.value_counts()

Series([], Name: del_score, dtype: float64)

In [4]:
df.del_score.value_counts()

del_score
0.0    2137
1.0    1258
2.0     907
3.0     520
4.0     243
5.0     177
6.0     128
7.0      93
8.0      34
9.0      11
Name: count, dtype: int64

In [29]:
df_new = pd.read_csv("/data6/deepro/ukb_bmi/0_data_preparation_and_download/exome_annot/data/processed_burden/all_gene_burden.csv.gz")

In [30]:
df_old = pd.read_csv("/data6/deepro/ukb_bmi/0_data_preparation_and_download/genotype/data/processed_burden/all_gene_burden.csv.gz")

In [34]:
df_new["len_samples"] = df_new.samples.apply(lambda x: len(set(x.split(","))))
df_old["len_samples"] = df_old.samples.apply(lambda x: len(set(x.split(","))))

In [39]:
len(df_new), len(df_old)

(18587, 18591)

In [50]:
df_old = df_old.loc[df_old.gene.isin(df_new.gene)].reset_index()

In [22]:
b1 = pd.read_csv("/data6/deepro/ukb_bmi/0_data_preparation_and_download/genotype/data/burden_tables/chrY/block_0.tsv", sep="\t", index_col=0)
b2 = pd.read_csv("/data6/deepro/ukb_bmi/0_data_preparation_and_download/exome_annot/data/burden_tables/chrY/block_0.tsv", sep="\t")

In [26]:
b1["len_samples"] = b1.samples.apply(lambda x: len(set(x.split(","))))
b2["len_samples"] = b2.samples.apply(lambda x: len(set(x.split(","))))

In [2]:
df = pd.read_csv("../data/annot_tables_vep109/chr10/block_2.tsv.gz", sep="\t", index_col=0)

In [ ]:
def create_burden(block_df):
    # select lof and deleterious missense variants
    block_df = block_df.loc[(block_df.lof==True)|(block_df.splice_lof==True)|((block_df.missense==True)&(block_df.del_score>4))]
    block_df = block_df.groupby("gene").agg({"samples": lambda x: ",".join(x)})
    return block_df

In [6]:
df = df.loc[(df.lof==True)|(df.splice_lof==True)|((df.missense==True)&(df.del_score>4))]

                                                    samples
gene
AGAP9     3643793,3586779,4667234,1087493,1253435,501178...
ANXA8     4906066,2752227,1991068,2021963,4961728,245918...
ANXA8L1                             1215260,2472979,2717060
ARHGAP22  4152876,3760398,1850853,5313690,1770409,524508...
FAM25C    4935601,1794985,1313230,4906156,2892458,533426...
FAM25G    1794985,1313230,4906156,2892458,3016868,484380...
FRMPD2    2144466,1094120,1776320,2790425,4624748,290773...
GDF10     2156106,1034656,4579492,5323753,4491216,110988...
GDF2      5350553,2097795,5852212,1517095,5574611,242947...
GPRIN2    5806122,3141768,2648510,5920889,3736171,313187...
LRRC18    2796724,5953233,5402087,5201986,5429596,120958...
MAPK8     2204813,1714487,1252347,3076780,3944030,321169...
NPY4R     5533839,2495965,5600545,5156436,3497268,510190...
PTPN20    5535451,4474080,3717201,4653680,1549136,583033...
RBP3      1979111,4325938,5523730,2679296,2392156,419064...
SYT15     1069915,1379171,2863181,4169605,5185893,303374...
WDFY4     4267008,3247730,4268471,4068286,2231244,349409...
ZNF488    3786164,4325606,5857819,1376976,2204465,344825...